@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Regular';
    font-weight: 300;
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
}
#highlight-slider {
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-image: url('../images/background-slider.png');
    margin-top: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-list {
    overflow: initial;
}
img.image-slide {
    transform: translateY(-70px);
    display: flex;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 12rem;
    height: 12rem;
}
.text {
    transform: translateY(-20px);
    padding: 0 30px;
    text-align: center;
    color: #fff;
}
.text h2 {
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 400;
}
.text p {
    font-family: 'Roboto Regular';
    font-weight: 300;
}
.button {
    transform: translateY(30px);
    background-color: #0BAADB;
    font-size: 20px;
    display: block;
    width: 130px;
    height: 25px;
    line-height: 25px;
    padding: 10px 10px;
    color: #FFF;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto';
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
.slick-dots {
    text-align: center;
    padding: 0;
}
.slick-dots li {
    transform: translateY(100px);
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 0.6rem;
    border: 3px solid #fff;
    border-radius: 50%;
}
.slick-dots li:hover {
    background-color: #fff;
}
.slick-dots li.active {
    background-color: #fff;
    color: #fff;
}
.slide-next {
    width: 4.5rem;
    height: 6.5rem;
    position: absolute;
    bottom: 4rem;
    right: 20px;
    z-index: 10;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: center center;
}
.slide-prev {
    width: 4.5rem;
    height: 6.5rem;
    position: absolute;
    bottom: 4rem;
    transform: rotate(180deg);
    left: 20px;
    right: auto;
    z-index: 10;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: center center;
}
@media (min-width: 768px) {
    #highlight-slider {
        flex-direction: row;
        position: relative;
    }
    #background-slider img {
        height: 680px;
    }
    img.image-slide {
        transform: translateY(-40px);
        width: 18rem;
        height: 18rem;
        border: 15px solid #fff;
        margin-left: 30px;
        top: -40px;
    }
    .text {
        transform: translateY(-300px);
        margin-left: 410px;
        width: 315px;
        height:200px;
        border:2px;
        padding:20px;
        text-align: left;
    }
    .text h2 {
        font-size: 35px;
    }
    .text p {
        font-size: 23px;
    }
    .button {
        margin-left: 5px;
        height: 39px;
        width: 160px;
        line-height: 39px;
    }
    .slick-dots {
        margin-left: 120px;
    }
    .slick-dots li {
        transform: translateY(-85px);
    }
}
@media (min-width: 1200px) {
    #highlight-slider {
        height: 630px;
    }
    img.image-slide {
        top: -35px;
        width: 31rem;
        height: 31rem;
        border: 20px solid #fff;
        margin-left: 35px;
    }
    .text {
        transform: translateY(-500px);
        margin-left: 620px;
        width: 480px;
        height:200px;
        border:2px;
        padding:20px;
        text-align: left;
    }
    .button {
        margin-left: 10px;
    }
    .slick-dots li {
        transform: translateY(-250px);
    }
}
@media (min-width: 1920px) {
    #highlight-slider {
        height: 650px;
    }
    img.image-slide {
        transform: translateY(-70px);
        width: 33rem;
        height: 33rem;
        border: 20px solid #fff;
        margin-left: 295px;
    }
    .text {
        transform: translateY(-510px);
        margin-left: 990px;
        width: 690px;
        height:200px;
        border:2px;
        padding:20px;
        text-align: left;
    }
    .button {
        margin-left: 10px;
        height: 49px;
        width: 190px;
        line-height: 49px;
    }
    .slick-dots li {
        right: -10px;
    }
    .slide-next {
        right: 150px;
    }
    .slide-prev {
        left: 150px;
    }
}